Hardware/Actuator/NomadBLDC/Firmware/openocd.log
Hardware/Actuator/NomadBLDC/Tools/__pycache__/SerialHandler.cpython-36.pyc
Hardware/Actuator/NomadBLDC/Tools/__pycache__/HDLCHandler.cpython-36.pyc
Hardware/Actuator/NomadBLDC/Tools/__pycache__/Commands.cpython-36.pyc
