<?xml version='1.0'?>

<model>
  <name>rigidblock</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Quincy Jones</name>
    <email>quincy@implementedrobotics.com</email>
  </author>

  <description>
    A simple single rigid body block for testing
  </description>
</model>
