anyio==3.5.0
asgiref==3.5.0
bidict==0.21.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
fastapi==0.75.0
h11==0.13.0
httptools==0.4.0
idna==3.3
pydantic==1.9.0
python-dotenv==0.19.2
python-engineio==4.3.1
python-socketio==5.5.2
PyYAML==6.0
requests==2.27.1
sniffio==1.2.0
starlette==0.17.1
tinydb==4.7.0
typing-extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.1
websockets==10.2
